 .u-section-1 {
  background-image: url("images/WaldbereitHintergrund.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 767px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 601px;
  margin: 216px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 583px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  margin: 72px -83px 0 0;
}

.u-section-1 .u-line-1 {
  height: 11px;
  transform-origin: left center 0px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 34.74% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 577px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.875rem;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 482px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 81.49% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 502px;
    margin-top: 327px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 416px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-text-1 {
  margin: 60px 831px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 83px;
  width: 83px;
  background-image: none;
  margin: 0 256px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 83px;
  width: 83px;
  background-image: none;
  margin: 0 256px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 83px;
  width: 83px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 83px;
  width: 83px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 83px;
  width: 83px;
  background-image: none;
  margin: 0 256px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 413px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 83px;
  width: 83px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 631px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 203px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 203px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 341px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 203px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 411px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 144px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 144px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 31px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 89px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 89px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 89px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 540px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  width: 878px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    width: 340px;
  }
}